form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

form label {
  color: var(--ginger);
}

form input {
  width: 300px;
  height: 40px;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  user-select: none;
  color: var(--black);
}

form input::placeholder {
  color: var(--grey);
}

form input[type='submit'] {
  color: var(--white);
  width: 300px;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--ginger);
  margin-top: 22px;
}

form input[type='submit']:hover {
  background-color: var(--green);
  color: var(--white);
}

.wrapper-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

form p {
  color: var(--red);
}

@media (max-width: 720px) {
  form {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  form input,
  form input[type='submit'] {
    width: 80vw;
  }
}