.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url('/images/depot-coaches.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}
.home .section{
  width: 900px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.home .section .inputs-wrapper h1{
  font-size: 1.5rem;
  font-weight: 600;
}

